@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(70, 25, 89);
    padding: 20px;
    border-radius: 20px;
    height: fit-content;
    
    background-image: url("purple-fog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container h1{
    text-align: center;
    color: rgb(174, 216, 204);
    font-family: 'Red Hat Display', sans-serif;
}

.MyForm{
    width: 30%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MyForm input{
    width: fit-content;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    font-weight: 700;
    box-shadow: 0px 6px 0px 0px rgb(192, 4, 4);
    padding: 15px;
    border: none;
}

.MyForm button{
    width: 120;
    height: 30;
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;
    border: none;
}